annotated-types==0.7.0
anyio==4.12.0
asgiref==3.11.0
awsebcli==3.22.1
botocore==1.35.99
cement==2.10.14
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.3
deprecation==2.1.0
dj-database-url==3.1.0
Django==6.0
django-environ==0.12.0
django-redis==6.0.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
jmespath==1.0.1
multidict==6.7.0
packaging==24.2
pathspec==0.10.1
pillow==12.0.0
postgrest==2.25.1
propcache==0.4.1
psycopg2-binary==2.9.11
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyYAML==6.0.3
realtime==2.25.1
redis==7.1.0
requests==2.32.5
semantic-version==2.10.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.4
storage3==2.25.1
StrEnum==0.4.15
supabase==2.25.1
supabase-auth==2.25.1
supabase-functions==2.25.1
termcolor==2.5.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.26.20
waitress==3.0.2
wcwidth==0.2.14
websockets==15.0.1
whitenoise==6.11.0
yarl==1.22.0
django-cors-headers
Django==6.0
python-dotenv
supabase>=2.0.0
